:root {
    --white: #fff;
    --neutral-100: #eeeeee;
    --neutral-200: #e8f0fe;
    --neutral-300: #d2e3fc;
    --neutral-400: #dadada;
    --neutral-500: #5f6368;
    --neutral-800: #3c4043;
    --neutral-900: #202124;
    --primary-500: #F61F40;
    --primary-600: #1765cc;
    --primary-700: #185abc;

    --wrapper: 90rem;
    /* 1440px */
    --wrapper-padding: 2rem;
    /* 24px */
    --breakpoint-main: 52.5em;
    /* 840px */
}

/* ****************************** Globals *************************************** */

html {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

html,
body {
    font-family: 'sofia-pro', sans-serif;
}

h1 {
    font-family: 'sofia-pro', sans-serif;
    font-size: 6rem;
    line-height: 1;
}

h1 i {
    font-family: 'playfair-display', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 6rem;
}


h2 {
    font-family: 'sofia-pro', sans-serif;
    font-size: 2.986rem;
    line-height: 1.1;
}

h3 {
    font-family: 'sofia-pro', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}

h4 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h5 {
    font-family: "sofia-pro", sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
}

h6 {
    font-family: 'playfair-display', serif;
    font-size: 1.7rem;
    line-height: 1.1;
    font-weight: 500;
    color: var(--primary-500);
    font-style: italic;
}


p {
    font-family: "sofia-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.7rem;
}

b,
strong {
    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
}

i {
    font-family: 'playfair-display', serif;
    font-style: italic;
}

a {
    color: var(--primary-500);
    font-family: 'playfair-display', serif;
    font-weight: 300;

}

a:hover {
    color: var(--neutral-900);
}

.font-secondary {
    font-family: 'playfair-display', serif;
}


.button a::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.button a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.button a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--primary-500);
    background-size: 1.2rem;
    z-index: -1;
    transition: transform 0.3s ease;
}

.button-section {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.button-section-project {
    display: flex;
    padding-top: 15px;
}

.button-section a {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 1.2rem;
    padding: 0.02rem;
    margin-top: 20px;
}

.button-section-project a {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 1.2rem;
}



/* ****************************** End Globals *************************************** */

.wrapper {
    display: block;
    padding: 0 var(--wrapper-padding);
    width: 100%;
}

.wrapper--max {
    max-width: var(--wrapper);
    margin: 0 auto;
    padding: 0 var(--wrapper-padding);
}

.body {
    background-color: whitesmoke;
}

/* ****************************** Menu *************************************** */

.nav,
.social,
.header,
.menu {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    max-height: 100px;
}

.menu_items {
    margin: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: right;
}

.menu a {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 1rem;
    padding: 0.02rem;
    margin-top: 20px;
}

.logo img {
    max-width: 60px;
    margin-top: -0.8rem;
}


.logo-mobile {
    display: none;
}

.logo img:hover {
    transform: scale(1.2);
}

.logofooter:hover {
    transform: scale(1.2);
}

.menu_items a::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.menu_items a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu_items a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--primary-500);
    background-size: 1.2rem;
    z-index: -1;
    transition: transform 0.3s ease;
}



.icon_social {
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 1px;
    max-width: 40px;
    margin-bottom: 15px;
}

.icon_social:hover {
    transform: scale(1.15);
}

.gif-home {
    z-index: -9;
    position: absolute;
    width: 582px;
    height: 577px;
    margin-top: -39vh;
    margin-left: 75vw;
}

.gif-home-mobile {
    display: none;
}

.asterisk-button {
    height: 3rem;
    margin-top: -12px;
}


.title-portfolio {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-color: var(--primary-500);
}

.text-title-portfolio {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    padding-top: 10px;
}


.home-hello {
    padding-top: 150px;
}

.home-meet {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.creative-description {
    text-align: center;
    padding-top: 40px;
}

.arrow-title {
    transform: rotate(130deg);
    height: 40px;
    margin-top: 10px;
    margin-right: 15px;
}





/* ****************************** End Menu *************************************** */


.circles {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    height: 22vh;
    width: 22vh;
    margin: 0 auto;
    margin-top: 0.8rem;
    transition: 0.2s ease;
    text-align: center;
    color: #ffffff;
    padding: .6rem;
    align-items: center;
    display: flex;
    justify-content: center;
}


.c1 {
    background: #EC1522;
}

.c1:hover {
    background-image: url(/assets/img/circles/lays-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.c2 {
    background: #E5C1DA;
}

.c2:hover {
    background-image: url(/assets/img/circles/ux\ ui\ design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c3 {
    background: #748CCC;
    ;
}

.c3:hover {
    background-image: url(/assets/img/circles/web-designer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c4 {
    background: #FFA99C;
}

.c4:hover {
    background-image: url(/assets/img/circles/brand-design-AGV.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c5 {
    background: #DBA510;
}

.c5:hover {
    background-image: url(/assets/img/circles/brand-design-merchandising-visual-identity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c6 {
    background: #F55B0E;
}

.c6:hover {
    background-image: url(/assets/img/circles/typography-filosofia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c7 {
    background: #6D1242;
}

.c7:hover {
    background-image: url(/assets/img/circles/magazine-illustration-covid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c8 {
    background: #FAA500;
}

.c8:hover {
    background-image: url(/assets/img/circles/social-media-manager.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c9 {
    background: #00AE4F;
}

.c9:hover {
    background-image: url(/assets/img/circles/landing-page-app.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c10 {
    background: #202054;
}

.c10:hover {
    background-image: url(/assets/img/circles/content-creation-pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c11 {
    background: #82DECA;
}

.c11:hover {
    background-image: url(/assets/img/circles/photographer-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c12 {
    background: #C8E900;
}

.c12:hover {
    background-image: url(/assets/img/circles/illustration.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.c1:hover p,
.c2:hover p,
.c3:hover p,
.c4:hover p,
.c5:hover p,
.c6:hover p,
.c7:hover p,
.c8:hover p,
.c9:hover p,
.c10:hover p,
.c11:hover p,
.c12:hover p {
    display: none;
}

.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover,
.c5:hover,
.c6:hover,
.c7:hover,
.c8:hover,
.c9:hover,
.c10:hover,
.c11:hover,
.c12:hover {
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.07);
}


.circle-text {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "sofia-pro", sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
}


.circle-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2rem 15rem;
}




/* ****************************** ART WALL *************************************** */

#art-wall {
    margin-top: 120px;
}


.talk-art {
    text-align: center;
    padding: 120px;
    padding-top: 60px;
    padding-bottom: 80px;
}

.photo-pic {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 134%;
}

.photo-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1em;
    gap: 1rem;
    padding: 0 80px;
}

.photo-description {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    align-items: flex-end;
}


.pic1 {
    background-image: url(/assets/img/art-wall/12-artwall-artwall.jpg);
}

.pic1:hover {
    background-image: url(/assets/img/art-wall/13-artwall-artwall.jpg);
}


.pic3 {
    background-image: url(/assets/img/art-wall/17-artwall-artwall.jpg);
}

.pic3:hover {
    background-image: url(/assets/img/art-wall/18-artwall-artwall.jpg);
}


.pic4 {
    background-image: url(/assets/img/art-wall/21-artwall-artwall.jpg);
}

.pic4:hover {
    background-image: url(/assets/img/art-wall/6-artwall-artwall.jpg);
}



.pic5 {
    background-image: url(/assets/img/art-wall/25-artwall-artwall.jpg);
}

.pic5:hover {
    background-image: url(/assets/img/art-wall/24-artwall-artwall.jpg);
}


.pic6 {
    background-image: url(/assets/img/art-wall/20-artwall-artwall.jpg);
}

.pic6:hover {
    background-image: url(/assets/img/art-wall/19-artwall-artwall.jpg);
}

.pic7 {
    background-image: url(/assets/img/art-wall/11-artwall-artwall.jpg);
}

.pic7:hover {
    background-image: url(/assets/img/art-wall/10-artwall-artwall.jpg);
}

.pic9 {
    background-image: url(/assets/img/art-wall/1-artwall-artwall.jpg);
}

.pic9:hover {
    background-image: url(/assets/img/art-wall/16-artwall-artwall.jpg);
}

.pic10 {
    background-image: url(/assets/img/art-wall/27-artwall-artwall.jpg);
}

.pic10:hover {
    background-image: url(/assets/img/art-wall/29-artwall-artwall.jpg);
}

.pic11 {
    background-image: url(/assets/img/art-wall/5-artwall-artwall.jpg);
}


.pic12 {
    background-image: url(/assets/img/art-wall/4-artwall-artwall.jpg);
}

.pic12:hover {
    background-image: url(/assets/img/art-wall/2-artwall-artwall.jpg);
}


.photo-pic-text {
    font-family: "sofia-pro", sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
}


.photo-pic-year {
    font-family: 'playfair-display', serif;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: var(--primary-500);
    font-style: italic;
}




.heart-gif {
    height: 60px;
    margin-top: 40px;
}


.footer-row {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}


/* ****************************** SELECTED WORKS *************************************** */

.project {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.project-mood {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 110px;
}

.project-2.search {
    display: flex;
    justify-content: flex-start;
    padding-top: 150px;
    padding-bottom: 120px;
}

.project-2.space {
    display: flex;
    justify-content: flex-start;
    padding-top: 120px;
    padding-bottom: 120px;
}


.project-bck img {
    width: 777px;
    height: 429px;
    left: 830px;
    top: 2901px;
    z-index: -9;
}

.project-img-1 {
    height: 625px;
    z-index: 1;
    margin-top: -36rem;
    margin-left: 13rem;
}


.project-img-1-mood {
    height: 545px;
    z-index: 1;
    margin-top: -33rem;
    margin-left: 13rem;
}


.project-img-2 {
    height: 423px;
    z-index: 1;
    margin-top: -30rem;
    margin-left: 5rem;
}

.project-img-2-space-home {
    height: 423px;
    z-index: 1;
    margin-top: -30rem;
    margin-left: 5rem;
}

.project-img-2-space {
    height: 423px;
    z-index: 1;
    margin-top: -30rem;
    margin-left: 3.5rem;
}


.project-img-2-soa {
    height: 413px;
    z-index: 1;
    margin-top: -29rem;
    margin-left: 0.5rem;
}




.project-img-3 {
    height: 456px;
    z-index: 1;
    margin-top: -31rem;
    margin-left: 16rem;
}


.project-img-4 {
    height: 395px;
    z-index: 1;
    margin-top: -29rem;
    margin-left: 5rem;
}

.project-img-1:hover,
.project-img-2:hover,
.project-img-3:hover,
.project-img-4:hover,
.project-img-2-space:hover,
.project-img-2-space-home:hover,
.project-img-2-soa:hover,
.project-img-1-mood:hover {
    transform: scale(1.05);
}

.transition {
    transition: transform .5s ease;
}


.project-list li {
    padding: 5px 0;
}

.project-list {
    padding-left: 45px;
}

.project-list-2 {
    padding-left: 80px;
}

.project-list-2 li {
    padding: 5px 0;
}

.project-visual {
    margin-right: -7rem;
}

.project-visual-2 {
    margin-left: -7rem;
}



.wip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.wip img {
    padding-top: 4rem;
    height: 25rem;
}



/**********    ERASMUS+IO      *********/


.project-text {
    margin: 5% 20%;
}

.erasmus-project-img {
    padding: 60px 30px;
}

.erasmus-project-img img {
    border-radius: 20px;
}

.erasmus-2 {
    display: flex;
    flex-direction: row;
    padding: 60px 30px;
    width: 100%;
    justify-content: center;
}

.description-bar-project {
    padding: 1rem 3rem;
}


/**********    SPACE TRAVEL      *********/


.project-text-space {
    margin: 5% 20%;
}



/**********    ABOUT      *********/

.project-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0 130px 0;
}

.project-visual-about {
    margin-right: 3rem;
}


.text-title-portfolio-about {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
}

.arrow-about {

    height: 30px;
    margin-top: 12px;
    margin-right: 12px;
}

.container-creative-tools {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;

}


.container-about {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 1px solid #fff;
}

.card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card0 {
    background: url("/assets/img/about-gaiaartemisia-gv.jpeg") center center no-repeat;
    background-size: 300px;
}

.card0:hover {
    background: url("/assets/img/about-gaiaartemisia-gv.jpeg") center center no-repeat;
    background-size: 600px;
}

.card0:hover h2 {
    opacity: 1;
}

.card0:hover .fa {
    opacity: 1;
}

.about-hi {
    font-family: 'sofia pro', sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}



.pic-about {
    background-image: url(/assets/img/about-bali-drawing.png);
}

.pic-about:hover {
    background-image: url(/assets/img/bali-drawing-sketch.jpg);
}

.photo-pic-about {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 75%;
    border-radius: 20px;
}



.container-creative-tools img:hover {
    transform: scale(1.2);
}

.transition2 {
    transition: transform .2s ease;
}




/* ****************************** MORPH MENU *************************************** */

#container {
    /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
    filter: url(#threshold);
}

.morph-style {
    height: 3rem;
}

/**** display:inline per dispositivi grandi   */

.text-container {
    position: relative;
    min-height: 8rem;
}



/* Your average text styling */
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: sofia-pro, sans-serif;
    font-size: 6rem;
    margin-left: 30px;
    user-select: none;
}



@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}





/*********         FLOATING TEXT                     ********/

.you-me {
    display: flex;
    justify-content: space-between;
}

.you-me-mobile {
    display: none;
}

.contacts-you-me {
    padding-bottom: 150px;
}


@import url("https://use.typekit.net/tuf5hwc.css");

html {
    font-family: "Sofia Pro", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Sofia Pro", sans-serif;
    }
}

body .contact-float {
    margin: 0;
    color: var(--primary-500);
    font-weight: 600;
    font-size: 60px;
    font-family: 'sofia-pro', sans-serif;
    overflow: hidden;
    padding-bottom: 60px;
    padding-top: 20px;
}

.contact-float {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.tilt {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.contact-float span {
    transition: font-weight 0.2s ease-in-out;
    animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.contact-float span:nth-child(1) {
    animation-delay: 1s;
}

.contact-float span:nth-child(2) {
    animation-delay: 2s;
}

.contact-float span:nth-child(3) {
    animation-delay: 3s;
}

.contact-float span:nth-child(4) {
    animation-delay: 4s;
}

.contact-float span:nth-child(5) {
    animation-delay: 5s;
}

.contact-float span:nth-child(6) {
    animation-delay: 6s;
}

.contact-float span:nth-child(7) {
    animation-delay: 7s;
}

.contact-float span:hover {
    font-weight: 100;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 5vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes floating-secondary {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 1vh);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes tilting {
    0% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}




/********** BUBBLES FOOTER ********/



body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main", "footer";
    overflow-x: hidden;
    background: #F5F7FA;
    min-height: 100vh;
}

.content-footer-text {
    color: #ffffff;
}

body .footer {
    z-index: 1;
    --footer-background: #F61F40;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}

body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    padding: 2rem;
    background: var(--footer-background);
}

body .footer .content a,
body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
}

body .footer .content b {
    color: white;
}

body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
}

body .footer .content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body .footer .content>div>div {
    margin: 0.01rem 0;
}

body .footer .content>div>div>* {
    margin-right: 0.5rem;
}

body .footer .content>div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@-webkit-keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}



.progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: var(--primary-500);
    transition: all linear 0.1s;
    min-width: 1%;
}



.iframe-figma {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

/********** BACK TO TOP ********/

#back_to_top {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
}




@media (min-width: 76.8rem) {


    .text-container {
        display: inline;
        position: unset;
    }


}



/*************** RESPONSIVE MENU *********************/



@media (max-width: 76.77rem) {


    .nav,
    .header,
    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #1f2227;
        opacity: 0;
        transition: all 0.2s ease;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }



    .gif-home-mobile {
        display: none;
    }

    .menu-items {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .social ul {
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .nav-container ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
    }

    .social {
        width: 50%;
        margin-right: 45px;
        padding-top: 35px;
    }

    .asterisk-button {

        height: 3rem;
        top: 3px;
        /**** ADD FLEX **/
    }


    nav .asterisk-button {
        display: none;
    }


    .nav-container ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-container ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-container ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-container ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-container ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-container ul li a {
        padding: 10px 25px;
        opacity: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        transform: translateY(-20px);
        transition: all 0.2s ease;
    }

    .nav-open {
        position: absolute;
        right: 25px;
        top: 20px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-open i {
        display: block;
        width: 30px;
        height: 2.5px;
        background: #1f2227;
        border-radius: 2px;
        margin-left: 14px;
    }

    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked+.nav-open {
    transform: rotate(45deg);
}

#nav:checked+.nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked~.nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}





@media screen and (max-width: 48rem) {

    h1 {
        font-family: 'sofia-pro', sans-serif;
        font-size: 3.8rem;
        line-height: 1;
    }

    h1 i {
        font-family: 'playfair-display', serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3.8rem;
    }


    h2 {
        font-family: 'sofia-pro', sans-serif;
        font-size: 2.5rem;
        line-height: 1.1;
    }

    h3 {
        font-family: 'sofia-pro', sans-serif;
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 500;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 1.2;
        font-family: "sofia-pro", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    h5 {
        font-family: "sofia-pro", sans-serif;
        font-size: 1.05rem;
        line-height: 1.1;
        font-weight: 500;
    }

    h6 {
        font-family: 'playfair-display', serif;
        font-size: 1.5rem;
        line-height: 1.1;
        font-weight: 500;
        color: var(--primary-500);
    }


    p {
        font-family: "sofia-pro", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.5rem;
    }

    b,
    strong {
        font-family: "sofia-pro", sans-serif;
        font-weight: 600;
    }

    i {
        font-family: "playfair-display", serif;
        font-weight: 400;
        font-style: italic;

    }

    .homepage {
        padding-top: 4rem;
    }

    .gif-home {
        display: none;
    }

    .gif-home-mobile {
        display: block;
        width: 80%;
        padding-bottom: 40px;
    }

    .wip img {
        padding-top: 4rem;
        height: 16rem;
    }

    .home-hello {
        padding-top: 0;
    }

    .im-home {
        padding-top: 0.8rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        max-width: 60px;
        margin-top: 28px;
    }

    .logo img {
        max-width: 60px;
    }

    #text1,
    #text2 {
        position: absolute;
        width: 100%;
        display: inline-block;
        font-family: 'sofia-pro', sans-serif;
        font-size: 3.8rem;
        margin-left: 0px;
        user-select: none;
    }


    .circle-grid {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        gap: 1em 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 20px;
    }

    .circles {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        border-radius: 50%;
        height: 20vh;
        width: 20vh;
        margin: 0 auto;
        margin-top: 0.8rem;
        transition: 0.2s ease;
        text-align: center;
        color: #ffffff;
        padding: 1rem;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .circle-text {
        font-size: 1rem;
    }


    .left-bck {
        padding-left: 20px;
    }

    .up-bck-1 {
        padding-top: 40px;
    }

    .up-bck {
        padding-top: 20px;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0;
    }

    .project-2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-top: 30px;
    }

    .project-list {
        padding-bottom: 75px;

    }

    .project-list-2.last {
        padding: 80px 0 75px 0;

    }

    .project-list-2 {
        padding: 0 0 75px 0;

    }


    .project-2.search {
        display: flex;
        justify-content: flex-start;
        padding-top: 100px;
        padding-bottom: 95px;
    }

    .project-2.space {
        display: flex;
        justify-content: flex-start;
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .project-text-space {
        margin: 40px 0 40px 0;
    }



    .project-img-1 {
        height: 400px;
        z-index: 1;
        margin-top: -23rem;
        margin-left: 7rem;
    }

    .project-img-1-mood {
        height: 284px;
        z-index: 1;
        margin-top: -19rem;
        margin-left: 9rem;
    }

    .project-img-2-soa {
        height: 214px;
        z-index: 1;
        margin-top: -15.5rem;
        margin-left: 1.7rem;
    }


    .project-img-2-space {
        height: 234px;
        z-index: 1;
        margin-top: -16.5rem;
        margin-left: 1.2rem;
    }

    .project-img-2-space-home {
        height: 235px;
        z-index: 1;
        margin-top: -15.5rem;
        margin-left: 5.5rem;
    }


    .project-img-3 {
        height: 295px;
        z-index: 1;
        margin-top: -19.8rem;
        margin-left: 8rem;
    }

    .project-img-4 {
        height: 241px;
        z-index: 1;
        margin-top: -17rem;
        margin-left: 4rem;
    }

    #art-wall {
        margin-top: 10px;
    }

    .talk-art.t1 {
        padding: 60px 40px 55px 40px;
    }

    .talk-art.t2 {
        padding: 35px 40px 85px 40px;
    }

    .art-p {
        padding-bottom: 15px;
    }

    .photo-grid {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1em;
        gap: 1rem;
        padding: 0 30px;
    }

    .photo-pic-text {
        font-size: 0.8rem;
    }


    .photo-pic-year {
        font-size: 1rem;
    }

    .photo-description.p1 {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        align-items: flex-start;
    }

    .text-title-portfolio {
        padding-bottom: 10px;
        padding-top: 10px;
    }


    .i-together {
        line-height: 130%;
    }

    .you-me {
        display: none;
    }

    .you-me-mobile {
        display: block;
    }

    body .footer .content {
        z-index: 2;
        display: block;
        grid-template-columns: 1fr auto;
        grid-gap: 2rem;
        padding: 2rem;
        background: var(--footer-background);
    }


    /**********    ERASMUS+IO      *********/


    .project-text {
        margin: 40px 0 0 0;
    }

    .erasmus-title {
        padding-left: 20px;
        padding-bottom: 40px;
    }

    .erasmus-project-img {
        padding: 40px 0 40px 0;
    }


    .mood-title {
        padding-left: 20px;
        padding-bottom: 80px;
    }



}

/**********    SPACE TRAVEL     *********/




/**********    ABOUT      *********/




@media (min-width: 30rem) and (max-width: 76.7rem) {

    .logo {
        max-width: 60px;
        margin-top: 28px;
    }

    .logo img {
        max-width: 60px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .gif-home-mobile {
        display: none;
    }

    .circle-grid {
        padding: 3rem;
    }

    #text1,
    #text2 {
        margin-left: 0px;
    }

}
